/***** generics *****/

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Merriweather Sans', sans-serif;
}


img{
  width: 80%;
}

ul{
  list-style-type: none;
}

.padding{
  padding: 20px;
}

.button p{
  background-color: #0084fd;
  color: white !important;
  padding: 10px;
  border-radius: 30px;
  display: block;
}

.button--purple p{
  background-color: #9792e4;
  width: fit-content;
  font-size: 25px;
}

.button a{
  text-decoration: none;
}

.button i{
  color: #fff;
  padding: 5px;
}

i{
  color: #0084fd;
}

.fa-solid{
  font-size: 70px;
}

/***** utilities *****/

.container{
  width: 100%;
  padding: 0 20px;
}


/** flex **/
.flex{
  display: flex;
}

.row{
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;    
}

.column{
  width: 100%;
  flex-direction: column;
 
}

.align-center{
  align-items: center;
}
.justify-space-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

/** /flex **/

/*** shared ***/

.card{
  border-radius: 25px;
  text-align:center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
}

.card--white{
  background-color: #fff;
  padding: 90px;
  margin-top: 50px;
  height: 400px;
}

.box{
  text-align:center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#product-presentation .card h2{
  color: #0084FD;
}

#product-presentation p {
  color: #5A6E7F;
}

.card.text-left{
  text-align:left;
}



/*** /shared ***/

/***** content *****/

/***** HEADER *****/

header{
  position: fixed;
  background-color: #0084fd;
  width: 100%;
  min-height: 80px;
  line-height: 80px;
}

.menu{
  color: #fff;
}

.menu ul{
  display: none;
}

header .fa-bars,
header img{
  vertical-align: middle;
  color: white;
  font-size: 40px;
}

/***** SECTIONS *****/


main{
  padding-top: 80px;
}


section{
  margin-top: 50px;
  margin-bottom: 50px;
}

section:nth-of-type(even){
  background-color:#9792e4;
  height: auto;
}

/* Strategic planner */

#strategic-planner .card:first-child{
  background-color: #9792E4;
}

#strategic-planner .card{
  align-items: center;
  margin-bottom: 100px;
  border-radius: 70px;
}

#strategic-planner .container{
  background-color: #9792E4;
}

#strategic-planner .column{
  height: 700px;
}

#strategic-planner .card i{
  color: black;
  border-radius: 135px;
  font-size: 20px;
  background-color: #9792E4;
}

/* Testimonials */

#testimonials .card{
  align-items: center;
  border-radius: 70px;
  background-color: #9792E4;
  color: white;
  height: 70%;
  width: 70%;
  margin: 30px auto;
}


#testimonials img{
  border-radius: 50%;
  width: 200px;
  object-fit: cover;
  height: 200px;
}

/* Benefits */

#benefits .column{
  text-align: center;
}

#benefits .copntainer{
  padding: 20px;
}

#benefits h2{
  font-size: 50px;
  padding: 25px 0px;
  color: white;
}

#benefits .container{
  height: 2500px;
}

/* About Us */

#about-us{
  margin: 32px;
  line-height: 2;
}

#about-us h2 {
  font-size: 50px;
  padding: 25px 0px;
  color: #9792E4;
}

#about-us p{
  font-size: 30px;
}

#about-us img{
  border-radius: 50%;
  width: 200px;
  object-fit: cover;
  height: 200px;
}

.about-img{
  margin-top: 90px;
}

.about-img i{
  position: relative;
  bottom: 150px;
  right: 50px;
  color: #9792E4;
}


/* product-presentation */
#product-presentation .card{
  background-color: #b5ddff;
}
#product-presentation .column:first-child .card {
  padding-bottom: 0;
  align-items: center;
}

/* /product-presentation */

footer{
  background-color: #333333;
}




@media screen and (min-width: 768px){

  #product-presentation .column {
    width: calc(100% / 3);
    padding: 0 10px;
  } 
  
  #product-presentation .column:first-child {
    width: calc(100% / 3 * 2);
  }

  #product-presentation img{
    width: 50%;
  }


}

@media screen and (min-width: 1200px) {

  .menu .fa-bars{
    display: none;
  }

  .menu ul {
    display: flex;
  }

  .menu li {
    display: inline-block;
  }


  #product-presentation .column:first-child .card{
    flex-direction: row;
  }

  #product-presentation .column > *, #strategic-planner .column > *{
    padding: 10px;
  }
}






/***** debug *****/

.debug section{
  min-height: 500px;
}

.debug footer {
  min-height: 160px;
}

.debug .column{
  min-height: 250px;
  border: 1px dashed red;
}